*{
  margin: 0;
  padding: 0;
  font-family: 'Amatic SC', cursive;
}
p {
  color: black;
}
span {
  color: red;
}
body {
     background: linear-gradient(#9FD4D8, #7FD5DB,#9FD4D8);
     height: 100%;
     }
header{
     background: linear-gradient(#F7CB89, #FDBC5B);
     list-style-type: none;
     margin: 0;
     overflow: hidden;
     padding: 10px;
    }
h1{
  display: float;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
  display: block;
  color: whitesmoke;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
}
div{
  margin: 40px 250px;
  float: left;
}
img{
  border-radius: 10%;
  float: left;
  width: 800px auto;
  /*margin: auto, 0px;*/
}
h2{
  margin: 30px;
  color: whitesmoke;
  float: left;
}

ul{
  background: #D099D4;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 60px;
  height: 609px;
  position: absolute;
  top: 0px;
  left: 0;
}
li a {
 font-family: 'Amatic SC', cursive;
 font-size: 19px;
  display: block;
  color: whitesmoke;
  padding: 90px 0px;
  text-align: center;
  text-decoration: none;
}
li a:hover {
  background-color: #F7CB89;
}
.styled{
  border-radius: 10px;
  color: whitesmoke;
  padding: 5px 10px;
  background: #FDBC5B;
  border: dashed whitesmoke;
  margin: 10px auto 0px 610px;
}
.styled.active {
  color: orange;
}
.styled.hover {
  background: blue;
}
.element.style{
  margin: 100px auto;
}
form{
  margin: 0px auto;
  with: 50%;
}
main{
  width: 500px;
  height: auto;
  margin: 10px auto 0 200px;
}
iframe{
  margin: 50px 430px;
}
fieldset{
    border-radius: 10%;
    font-size: 20px;
    background: linear-gradient(#D099D4, #D17ED7);
    border: dashed whitesmoke;
    padding: 30px;
    margin: 100px auto 0px;
    width: 200px;
    font-family: 'Amatic SC', cursive;
