/*@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Nunito:wght@300;700&display=swap');*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: cursive;
  /*font-family: 'Nunito', sans-serif;*/
}
body {
  overflow-x: hidden;
  /*background: linear-gradient(#9FD4D8, #7FD5DB,#9FD4D8);*/
  /*height: 100%;*/
  background-image: url(https://superhqwallpapers.com/wp-content/uploads/2021/08/Light-Orange-Pink-Red-Smoke-White-Background-4K-5K-HD-scaled.jpg);
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover ;
  }
#about-page div,
#my-cv div{
  float: left;
  text-align: center;
  height: auto;
  width: 312px;
  margin: auto auto 0 60px;
}
#home-page div{
  float: left;
  text-align: center;
  height: auto;
  margin: auto auto 0 -40px
}
#contact-page div{
  /*display: flex;
  justify-content: center;
  flex-wrap: wrap;*/
  /*width: 100%;*/
}
.contact-details{
 width: 100%;
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
}
.contact-map{
 width: 50%
}
div p{
  background-color: linear-gradient(#D099D4, #D182D7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(6px) saturate(50%);
  line-height: 29px;
  border: solid whitesmoke 2px;
  border-radius: 10%;
  /*background: linear-gradient(#D099D4, #D182D7);*/
  margin: 30px auto 10px 70px;
  padding: 20px;
  width: 300px;
  text-align: left;
}
fieldset{
  background-color: linear-gradient(#D099D4, #D182D7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(100px) saturate(90%);
  border-radius: 10%;
  font-size: 20px;
 /*background: linear-gradient(#D099D4, #D17ED7);*/
  border: solid whitesmoke;
  padding: 30px;
  margin: 43px auto 0px;
  width: 200px;
  font-family: 'Amatic SC', cursive;
  }
figure{
  width: 100px;
  margin: 50px auto;
  float: left;
}
form{
  margin: 45px auto;
  width: 50%;
}
h1{
  display: float;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
  display: block;
  color: black;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
}
h2{
  margin: 30px auto 50px 100px;
  color: #80808099;
  float: left;
  font-weight: bolder;
  letter-spacing: 15px;
  width:  auto;
  text-decoration: solid underline;
  text-transform: uppercase;
  font-size: 35px;
}
.heading-cv-section{
  margin: 30px auto 0px 130px;
  float: left;
  font-weight: bolder;
  letter-spacing: 6px;
  width:  auto;
  text-decoration: solid underline;
  text-transform: uppercase;
  font-size: 20px;
  color: black;
  float: left;
  text-align: justify;
  background: #f1a6b7;
  border:  solid whitesmoke 2px;
  border-radius: 10%;
  padding: 12px;
}
h3{
  margin: 30px auto 10px 100px;
  text-align: center;
}
h3 i{
  background-color: linear-gradient(#D099D4, #D182D7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(6px) saturate(50%);
  padding: 40px;
  border-radius: 10%;
  border: solid whitesmoke 2px;
  float: left;
  line-height: 55px;
  clear: both;
  margin: auto auto auto 160px;
  text-align: left;
}
h4{
  line-height: 42px;
}
h5{
 font-size: 20px;
 margin: 80px auto 0px;
 padding: 0 0 0 66px;
}
header{
     /*background: linear-gradient(#F7CB89, #FDBC5B);*/
  background-color: linear-gradient(#D099D4, #D182D7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(6px) saturate(50%);
     list-style-type: none;
     border: solid whitesmoke 2px;
     margin: 0;
     overflow: hidden;
     padding: 10px;
     width: auto;
    }
img{
  border: solid whitesmoke 2px;
  border-radius: 10%;
  margin: auto, 0px;
}
iframe{
  margin: 36px auto;
  /*float: left;*/
  /*clear: both;*/
  border-color: orange;
}
li a {
 font-family: 'Amatic SC', cursive;
 font-size: 19px;
  display: block;
  color: #80808099;
  padding: 63px 0px;
  text-align: center;
  text-decoration: none;
}
li a:hover {
  background-color: #f1a6b7;
}
#home-page-main main,
main{
  width: 100%;
  height: auto;
  margin: 10px auto 0 120px;
}
#about-page-main main{
  width: 50%;
  height: auto;
  margin: 10px auto 0 120px;
}
ul{
  background-color: linear-gradient(#D099D4, #D182D7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(6px) saturate(50%);
  /*background:linear-gradient(#EFB1D0, #D182D7);*/
  border: solid whitesmoke 2px;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 60px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
}
p {
  background-color: linear-gradient(#D099D4, #D182D7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(6px) saturate(50%);
  color: black;
  float: left;
  text-align: justify;
  /*background: linear-gradient(#F7CB89, #FDBC5B);*/
  border:  solid whitesmoke 2px;
  border-radius: 10%;
  padding: 10px;
}
/*span {
  color: red;
}*/
.styled{
  border-radius: 10px;
  color: whitesmoke;
  padding: 5px 10px;
  background: #fd606e;
  border: solid whitesmoke;
  margin: 10px auto 30px 290px;
  cursor: pointer;
}
.styled:active {
  color: #FDBC5B;
}
.styled:hover {
  background: #fd606e42;
}
.element.style{
  margin: 100px auto;
}
#wrapper{
  width:100%;
}
.cell{
  width: 50%;
}
table{
  table-layout: auto;
  width: 1160px;
  margin: 0 auto 0 80px;
  border: none;
}
td{
  padding: 18px 30px 0 30px;
}
.column_1{
  width: 500px;
}
.flex-item{

}